(
  resources: {},
  entities: {
    20: (
      components: {
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.3995965,
          aspect_ratio: 1.7777778,
          near: 0.1,
          far: 100.0,
        )),
        "bevy_render::primitives::Frustum": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 34.821884,
            y: 49.024857,
            z: -36.79615,
          ),
          rotation: (-0.1694689, 0.82838506, 0.40884802, 0.3433684),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core_pipeline::tonemapping::Tonemapping": BlenderFilmic,
        "bevy_core_pipeline::tonemapping::DebandDither": Enabled,
        "bevy_render::view::ColorGrading": (
          exposure: 0.0,
          gamma: 1.0,
          pre_saturation: 1.0,
          post_saturation: 1.0,
        ),
        "bevy_core::name::Name": (
          hash: 17702508670109176045,
          name: "Camera",
        ),
        "advanced::core::camera::camera_tracking::CameraTrackingOffset": ((
          x: 26.0,
          y: 48.0,
          z: -26.0,
        )),
        "bevy_pbr::light::ClusterConfig": FixedZ(
          total: 4096,
          z_slices: 24,
          z_config: (
            first_slice_depth: 5.0,
            far_z_mode: MaxLightRange,
          ),
          dynamic_resizing: true,
        ),
        "bevy_core_pipeline::bloom::settings::BloomSettings": (
          intensity: 0.01,
          low_frequency_boost: 0.7,
          low_frequency_boost_curvature: 0.95,
          high_pass_frequency: 1.0,
          prefilter_settings: (
            threshold: 0.0,
            threshold_softness: 0.0,
          ),
          composite_mode: Additive,
        ),
      },
    ),
    34: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.697565,
            y: 1.5983224,
            z: 8.962274,
          ),
          rotation: (0.000000000000000031724054, -0.00000000000000000000647681, -0.000013119204, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 9837288155836662016,
          name: "Health_Pickup.001",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
      },
    ),
    54: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 8.799996,
            y: 1.02484,
            z: -10.799994,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 17978181434632022651,
          name: "Player",
        ),
        "advanced::core::camera::camera_tracking::CameraTrackable": (),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Player"),
        "advanced::game::Player": (),
        "advanced::game::SoundMaterial": Wood,
      },
    ),
    60: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 3.6351967,
            y: 1.7298106,
            z: -7.313273,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 7225506896223411979,
          name: "MagicTeapot.001",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("MagicTeapot"),
      },
    ),
    64: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -4.6068983,
            y: 1.5983224,
            z: -10.579347,
          ),
          rotation: (0.000000000000000031724054, 0.00000000000000000000647681, 0.000013119204, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 3089896164553476909,
          name: "Health_Pickup.002",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
      },
    ),
    72: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -11.560788,
            y: 0.0,
            z: 7.6554174,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16961132108296874979,
          name: "Container.001",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Container"),
        "advanced::game::picking::Pickable": (),
      },
    ),
    80: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -21.397858,
            y: 0.3833189,
            z: -0.32418346,
          ),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 5104740624378885265,
          name: "Container.002",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Container"),
        "advanced::game::picking::Pickable": (),
      },
    ),
    82: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 2.9156065,
            y: 1.4984571,
            z: 2.1909573,
          ),
          rotation: (0.058853183, 0.0726243, 0.2048649, 0.97431636),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 107557640935939866,
          name: "test5159735758431545549",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: -1.2580805,
            y: -0.39687577,
            z: 0.4816798,
          ),
          angvel: (
            x: 0.2979751,
            y: 0.07926611,
            z: 0.8434645,
          ),
        ),
      },
    ),
    86: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.26087752,
            y: 1.5525806,
            z: 1.5980839,
          ),
          rotation: (0.059497803, -0.0000018232388, 0.13145457, 0.9895351),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 3398656236303073559,
          name: "test7470642598731063943",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: -0.9268077,
            y: -0.19806683,
            z: 0.41948256,
          ),
          angvel: (
            x: 0.26946256,
            y: -0.000006710977,
            z: 0.5953494,
          ),
        ),
      },
    ),
    90: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 2.6515265,
            y: 1.5944021,
            z: -4.391837,
          ),
          rotation: (-0.030030435, -0.0000006527225, 0.029748484, 0.9991062),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 12541900054595385134,
          name: "test3938024405863834719",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: -0.28430828,
            y: -0.022357654,
            z: -0.2870027,
          ),
          angvel: (
            x: -0.17986917,
            y: -0.0000035613396,
            z: 0.17818078,
          ),
        ),
      },
    ),
    94: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -4.2356462,
            y: 1.596993,
            z: 0.7254991,
          ),
          rotation: (-0.0221751, -0.0000000001891749, 0.011065631, 0.99969286),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 6757906322211730861,
          name: "test11007490954016878479",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: -0.21747473,
            y: -0.014912919,
            z: -0.43581253,
          ),
          angvel: (
            x: -0.2727097,
            y: -0.0000000034594905,
            z: 0.13608481,
          ),
        ),
      },
    ),
    98: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 3.1525247,
            y: 1.5518407,
            z: -2.9611976,
          ),
          rotation: (-0.09219627, 0.1602262, -0.11205085, 0.9763565),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 12588565107899185946,
          name: "test5980867849331267699",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: 0.8323179,
            y: -0.20597076,
            z: -0.68975484,
          ),
          angvel: (
            x: -0.37971017,
            y: 0.49603412,
            z: -0.6079359,
          ),
        ),
      },
    ),
    4294967310: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.826278,
            y: 1.2710563,
            z: -3.1997645,
          ),
          rotation: (-0.303028, 0.00000087800436, -0.23889118, 0.9225535),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 15533546218717453536,
          name: "test12380979123759326444",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: 1.2146912,
            y: -1.1640646,
            z: -1.5408095,
          ),
          angvel: (
            x: -1.1932359,
            y: 0.000002945365,
            z: -0.94068503,
          ),
        ),
      },
    ),
    4294967314: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 3.9906094,
            y: 1.4824095,
            z: 2.4394412,
          ),
          rotation: (0.06015042, 0.085218765, 0.2215642, 0.9695509),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 2466794778849297109,
          name: "test12475628281920299197",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: -1.0818624,
            y: -0.37798148,
            z: 0.45334253,
          ),
          angvel: (
            x: 0.25961447,
            y: 0.14854014,
            z: 0.7426717,
          ),
        ),
      },
    ),
    4294967321: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 2.2306876,
            y: 0.989814,
            z: -1.3596333,
          ),
          rotation: (0.30614096, 0.002587511, -0.42789298, 0.8503991),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 1545925632270385398,
          name: "test15780367212768138828",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "advanced::game::picking::Pickable": (),
        "bevy_rapier3d::dynamics::rigid_body::Velocity": (
          linvel: (
            x: 1.3027526,
            y: -1.8947054,
            z: 1.6179247,
          ),
          angvel: (
            x: 1.4565696,
            y: -0.16299045,
            z: -1.3631926,
          ),
        ),
      },
    ),
  },
)