(
  resources: {
    "bevy_time::time::Time<()>": (
      context: (),
      wrap_period: (
        secs: 3600,
        nanos: 0,
      ),
      delta: (
        secs: 0,
        nanos: 19854342,
      ),
      delta_seconds: 0.019854343,
      delta_seconds_f64: 0.019854342,
      elapsed: (
        secs: 0,
        nanos: 579651002,
      ),
      elapsed_seconds: 0.579651,
      elapsed_seconds_f64: 0.579651002,
      elapsed_wrapped: (
        secs: 0,
        nanos: 579651002,
      ),
      elapsed_seconds_wrapped: 0.579651,
      elapsed_seconds_wrapped_f64: 0.579651002,
    ),
    "bevy_time::time::Time<bevy_time::virt::Virtual>": (
      context: (
        max_delta: (
          secs: 0,
          nanos: 250000000,
        ),
        paused: false,
        relative_speed: 1.0,
        effective_speed: 1.0,
      ),
      wrap_period: (
        secs: 3600,
        nanos: 0,
      ),
      delta: (
        secs: 0,
        nanos: 19854342,
      ),
      delta_seconds: 0.019854343,
      delta_seconds_f64: 0.019854342,
      elapsed: (
        secs: 0,
        nanos: 579651002,
      ),
      elapsed_seconds: 0.579651,
      elapsed_seconds_f64: 0.579651002,
      elapsed_wrapped: (
        secs: 0,
        nanos: 579651002,
      ),
      elapsed_seconds_wrapped: 0.579651,
      elapsed_seconds_wrapped_f64: 0.579651002,
    ),
    "bevy_time::time::Time<bevy_time::fixed::Fixed>": (
      context: (
        timestep: (
          secs: 0,
          nanos: 15625000,
        ),
        overstep: (
          secs: 0,
          nanos: 1526002,
        ),
      ),
      wrap_period: (
        secs: 3600,
        nanos: 0,
      ),
      delta: (
        secs: 0,
        nanos: 15625000,
      ),
      delta_seconds: 0.015625,
      delta_seconds_f64: 0.015625,
      elapsed: (
        secs: 0,
        nanos: 578125000,
      ),
      elapsed_seconds: 0.578125,
      elapsed_seconds_f64: 0.578125,
      elapsed_wrapped: (
        secs: 0,
        nanos: 578125000,
      ),
      elapsed_seconds_wrapped: 0.578125,
      elapsed_seconds_wrapped_f64: 0.578125,
    ),
    "bevy_render::camera::clear_color::ClearColor": (Srgba((
      red: 0.16862746,
      green: 0.17254902,
      blue: 0.18431373,
      alpha: 1.0,
    ))),
    "bevy_render::view::Msaa": Sample4,
    "bevy_pbr::light::ambient_light::AmbientLight": (
      color: LinearRgba((
        red: 1.0,
        green: 1.0,
        blue: 1.0,
        alpha: 1.0,
      )),
      brightness: 80.0,
    ),
    "bevy_pbr::light::DirectionalLightShadowMap": (
      size: 2048,
    ),
    "bevy_pbr::light::PointLightShadowMap": (
      size: 1024,
    ),
    "bevy_audio::audio::GlobalVolume": (
      volume: (1.0),
    ),
    "bevy_audio::audio::DefaultSpatialScale": (((
      x: 1.0,
      y: 1.0,
      z: 1.0,
    ))),
    "bevy_gizmos::config::GizmoConfigStore": (),
  },
  entities: {
    4294967309: (
      components: {
        "blenvy::blueprints::spawn_from_blueprints::BlueprintInfo": (
          name: "Mover",
          path: "blueprints/Mover.glb",
        ),
        "blenvy::blueprints::spawn_from_blueprints::SpawnBlueprint": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.19871584,
            y: 1.19514,
            z: -0.7909124,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.18871583,
            y: 1.19514,
            z: -0.7909124,
          ),
        )),
        "bevy_hierarchy::components::parent::Parent": (21474836492),
        "bevy_core::name::Name": (
          hash: 10742641839607126956,
          name: "Mover",
        ),
        "blenvy::save_load::Dynamic": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
  },
)