({
    "world":File (path: "models/StartLevel.glb"),
    "level1":File (path: "models/Level1.glb"),
    "level2":File (path: "models/Level2.glb"),

    "models": Folder (
        path: "models/library",
    ),
    "materials": Folder (
        path: "materials",
    ),
})