(
  resources: {},
  entities: {
    4294967328: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -1.2373765,
            y: 1.5983207,
            z: -14.737572,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 16417715962023093077,
          name: "Health_Pickup.001",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
      },
    ),
    8589934686: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.698598,
            y: 1.5983201,
            z: 8.961404,
          ),
          rotation: (
            x: -0.00027395066,
            y: 0.000000006135496,
            z: -0.00033744468,
            w: 0.9999999,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_core::name::Name": (
          hash: 9345697004844942222,
          name: "Health_Pickup",
        ),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
      },
    ),
  },
)