(
  resources: {},
  entities: {
    11: (
      components: {
        "bevy_render::camera::camera::Camera": (
          viewport: None,
          order: 0,
          is_active: true,
          hdr: true,
          msaa_writeback: true,
        ),
        "bevy_render::camera::camera::CameraRenderGraph": ("core_3d"),
        "bevy_render::camera::projection::Projection": Perspective((
          fov: 0.3995965,
          aspect_ratio: 1.7777778,
          near: 0.1,
          far: 100.0,
        )),
        "bevy_render::view::visibility::VisibleEntities": (),
        "bevy_render::primitives::Frustum": (),
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 26.539474,
            y: 49.6988,
            z: -24.500801,
          ),
          rotation: (
            x: -0.16939653,
            y: 0.82843566,
            z: 0.4089594,
            w: 0.34314927,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: -0.7071068,
              y: -0.000000029802322,
              z: -0.70710677,
            ),
            y_axis: (
              x: -0.5613365,
              y: 0.60811406,
              z: 0.56133646,
            ),
            z_axis: (
              x: 0.43000156,
              y: 0.79384965,
              z: -0.43000162,
            ),
          ),
          translation: (
            x: 26.539474,
            y: 49.6988,
            z: -24.500801,
          ),
        )),
        "bevy_core_pipeline::core_3d::camera_3d::Camera3d": (
          clear_color: Default,
          depth_load_op: Clear(0.0),
          depth_texture_usages: (16),
          screen_space_specular_transmission_steps: 1,
          screen_space_specular_transmission_quality: Medium,
        ),
        "bevy_core_pipeline::tonemapping::Tonemapping": BlenderFilmic,
        "bevy_core::name::Name": (
          hash: 3943484586568834143,
          name: "Camera",
        ),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints_basic_save_example::core::camera::camera_tracking::CameraTrackingOffset": ((
          x: 26.0,
          y: 48.0,
          z: -26.0,
        )),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    44: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 4.697598,
            y: 1.598322,
            z: 8.96225,
          ),
          rotation: (
            x: -0.000010295967,
            y: 0.0000000005392837,
            z: -0.000025804165,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: -0.00005160833,
              z: -0.0000000005472097,
            ),
            y_axis: (
              x: 0.00005160833,
              y: 1.0,
              z: -0.000020591933,
            ),
            z_axis: (
              x: 0.000000001609925,
              y: 0.000020591933,
              z: 1.0,
            ),
          ),
          translation: (
            x: 4.697598,
            y: 1.598322,
            z: 8.96225,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 6804733873084597986,
          name: "Health_Pickup",
        ),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_gltf_blueprints_basic_save_example::game::picking::Pickable": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    48: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -1.2373765,
            y: 1.5983284,
            z: -14.737572,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -1.2373765,
            y: 1.5983284,
            z: -14.737572,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 9624994042293979758,
          name: "Health_Pickup.001",
        ),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Health_Pickup"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_gltf_blueprints_basic_save_example::game::picking::Pickable": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    120: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.5394836,
            y: 1.6987833,
            z: 1.4991902,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: 0.5394836,
            y: 1.6987833,
            z: 1.4991902,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 1500300801704042324,
          name: "Player",
        ),
        // "bevy_hierarchy::components::parent::Parent": (4294967302),
        "bevy_hierarchy::components::children::Children": ([
          17179869217,
        ]),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Player"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    4294967332: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -1.2871127,
            y: 2.0,
            z: 4.9062996,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -2.0347419,
            y: 5.6987834,
            z: 11.3117895,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 12594745501525674369,
          name: "SubParentingTest",
        ),
        "bevy_hierarchy::components::parent::Parent": (17179869217),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Sphero"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    12884901985: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -21.397858,
            y: 0.3833189,
            z: -0.32418346,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -21.397858,
            y: 0.3833189,
            z: -0.32418346,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 11846269812632255284,
          name: "Container.001",
        ),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Container"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_gltf_blueprints_basic_save_example::game::picking::Pickable": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    12884901993: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -14.511728,
            y: 0.9817718,
            z: 6.685008,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -14.511728,
            y: 0.9817718,
            z: 6.685008,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 6594070907224526361,
          name: "Container",
        ),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Container"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_gltf_blueprints_basic_save_example::game::picking::Pickable": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
    17179869217: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -1.2871127,
            y: 2.0,
            z: 4.9062996,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_transform::components::global_transform::GlobalTransform": ((
          matrix3: (
            x_axis: (
              x: 1.0,
              y: 0.0,
              z: 0.0,
            ),
            y_axis: (
              x: 0.0,
              y: 1.0,
              z: 0.0,
            ),
            z_axis: (
              x: 0.0,
              y: 0.0,
              z: 1.0,
            ),
          ),
          translation: (
            x: -0.7476291,
            y: 3.6987834,
            z: 6.40549,
          ),
        )),
        "bevy_core::name::Name": (
          hash: 8474131073401555526,
          name: "ParentingTest",
        ),
        "bevy_hierarchy::components::parent::Parent": (120),
        "bevy_hierarchy::components::children::Children": ([
          4294967332,
        ]),
        "bevy_gltf_blueprints_basic_save_example::core::save_load::saveable::Dynamic": (true),
        "bevy_gltf_blueprints::spawn_from_blueprints::BlueprintName": ("Container"),
        "bevy_gltf_blueprints::spawn_from_blueprints::SpawnHere": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
      },
    ),
  },
)